.container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: aquamarine;
}
.container h1{
    font-size: 2.5rem;
    color: darkcyan;
}
.links_container>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    height: 4vh;
}
.links_container li{
    list-style: none;
    font-size: 1.4rem;
    color: chocolate;
    font-weight: 600;
}